Service References/SolarWindSvcRef/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar13.fulton.asu.edu/page7/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="registerUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterWebService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterWebServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterWebServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="top10ContentWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="top10ContentWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="top10ContentWordsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWindEnergy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
        <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWindEnergyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getWindEnergyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSolarEnergy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
        <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSolarEnergyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSolarEnergyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>