Service References/SolarWindSvcRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar13.fulton.asu.edu/page7/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar13.fulton.asu.edu/page7/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar13.fulton.asu.edu/page7/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_registerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="IService1_registerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_filterWebService_InputMessage">
    <wsdl:part name="parameters" element="tns:filterWebService" />
  </wsdl:message>
  <wsdl:message name="IService1_filterWebService_OutputMessage">
    <wsdl:part name="parameters" element="tns:filterWebServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_top10ContentWords_InputMessage">
    <wsdl:part name="parameters" element="tns:top10ContentWords" />
  </wsdl:message>
  <wsdl:message name="IService1_top10ContentWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:top10ContentWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWindEnergy_InputMessage">
    <wsdl:part name="parameters" element="tns:getWindEnergy" />
  </wsdl:message>
  <wsdl:message name="IService1_getWindEnergy_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWindEnergyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getSolarEnergy_InputMessage">
    <wsdl:part name="parameters" element="tns:getSolarEnergy" />
  </wsdl:message>
  <wsdl:message name="IService1_getSolarEnergy_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSolarEnergyResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="registerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerUser" message="tns:IService1_registerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerUserResponse" message="tns:IService1_registerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filterWebService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/filterWebService" message="tns:IService1_filterWebService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/filterWebServiceResponse" message="tns:IService1_filterWebService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="top10ContentWords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/top10ContentWords" message="tns:IService1_top10ContentWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/top10ContentWordsResponse" message="tns:IService1_top10ContentWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWindEnergy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getWindEnergy" message="tns:IService1_getWindEnergy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getWindEnergyResponse" message="tns:IService1_getWindEnergy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSolarEnergy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSolarEnergy" message="tns:IService1_getSolarEnergy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSolarEnergyResponse" message="tns:IService1_getSolarEnergy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/IService1/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterWebService">
      <soap:operation soapAction="http://tempuri.org/IService1/filterWebService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="top10ContentWords">
      <soap:operation soapAction="http://tempuri.org/IService1/top10ContentWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWindEnergy">
      <soap:operation soapAction="http://tempuri.org/IService1/getWindEnergy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSolarEnergy">
      <soap:operation soapAction="http://tempuri.org/IService1/getSolarEnergy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar13.fulton.asu.edu/page7/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>