Service References/ServiceReference1/CatalogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatalogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar13.fulton.asu.edu/Page4/CatalogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar13.fulton.asu.edu/Page4/CatalogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar13.fulton.asu.edu/Page4/CatalogService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalogService1_GetHotelDeals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHotelDeals" />
  </wsdl:message>
  <wsdl:message name="ICatalogService1_GetHotelDeals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHotelDealsResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogService1_GetCarDeals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarDeals" />
  </wsdl:message>
  <wsdl:message name="ICatalogService1_GetCarDeals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarDealsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICatalogService1">
    <wsdl:operation name="GetHotelDeals">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogService1/GetHotelDeals" message="tns:ICatalogService1_GetHotelDeals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogService1/GetHotelDealsResponse" message="tns:ICatalogService1_GetHotelDeals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarDeals">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogService1/GetCarDeals" message="tns:ICatalogService1_GetCarDeals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogService1/GetCarDealsResponse" message="tns:ICatalogService1_GetCarDeals_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICatalogService1" type="tns:ICatalogService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHotelDeals">
      <soap:operation soapAction="http://tempuri.org/ICatalogService1/GetHotelDeals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarDeals">
      <soap:operation soapAction="http://tempuri.org/ICatalogService1/GetCarDeals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalogService">
    <wsdl:port name="BasicHttpBinding_ICatalogService1" binding="tns:BasicHttpBinding_ICatalogService1">
      <soap:address location="http://webstrar13.fulton.asu.edu/Page4/CatalogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>